@model IEnumerable<InventoryRMSCR.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-responsive table-striped ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty) kg
        </th>
        <th> Quantity Bag(Q/25)</th>
        <th></th>
    </tr>
    @{decimal gba = 0;}
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.qty)
        </td>
        <td>
            @(item.qty / 25)
        </td>
        @{gba += item.qty;}
        <td>
            @Html.ActionLink("Update", "Edit", new { id = item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
        </td>
    </tr>
    }
        <tr>
            <td>Total</td>
            <td>@(gba) kg</td>
            <td> @(gba/25) bag</td>
            <td></td>
        </tr>


</table>
